@import "../partials/mixins";
@import "../partials/variables";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $darkBlue;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: $neonGreen;
}

p {
  @include quoteStyle;
}
